@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 94px;
  --header-height: 56px;
}

@layer components {
  .page {
    @apply min-h-screen bg-slate-50 text-gray-900 dark:bg-slate-700 dark:text-gray-100;
  }

  .page__section {
    @apply container mx-auto;
  }

  .page__title {
    @apply mb-8 leading-10 text-4xl text-center;
  }

  .header {
    @apply p-4 bg-blue-100 dark:bg-sky-900;
  }

  .header__nav {
    @apply mx-auto container flex;
  }

  .header__logo {
    filter: invert(1);
    @apply mr-4;
  }

  .header__menu {
    @apply flex flex-row gap-4;
  }

  .main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
    @apply p-4;
  }

  .event__list {
    @apply grid-rows-1 grid gap-8 my-8 sm:grid-cols-2 lg:grid-cols-3;
  }
  
  .event__item {
    @apply p-4 border border-sky-700 rounded-lg;
  }

  .event__item-image {
    @apply w-full h-auto;
  }

  .event__item-title {
    @apply my-4 text-lg font-bold;
  }

  .event__item-description {
    @apply opacity-95;
  }

  .footer {
    @apply flex flex-col items-center gap-4 p-4 bg-blue-100 dark:bg-sky-900;
  }

  .footer__logo {
    filter: invert(1);
  }
}
